<nav class="blue darken-4 z-depth-3">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo"><i class="material-icons">cloud</i>Leonard Waugh</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="btn blue darken-4" href="/">Home</a></li>
            <li><a class="btn blue darken-4" href="/battle">Game</a></li>
            {{if (loggedIn == "no")}}
                <li><a href="/login">Login</a></li>
            {{end if}}
            {{if (loggedIn == "yes")}}
                <!-- Dropdown Trigger -->
                <a class='dropdown-trigger btn blue darken-4' href='#' data-target='dropdown1'>Profile</a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">Profile</a></li>
                    <li><a href="#!">Settings</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="/login">Logout</a></li>
                </ul>
            {{end if}}
        </ul>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dropdownOptions = {
            'closeOnClick': true,
            'hover':true
        }
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, dropdownOptions);
    });
</script>